{% verbatim %}
    {{#if this.attributes.drafterid }}
        {{this.attributes.drafterid}}<a href="{{this.links.drafterid}}"><i class="fa fa-link"></i></a>
    {{else}}
    {{this}}
    {{/if}}
{% endverbatim %}
