/*Dos formatos de botón algo más grandes o algo más pequeños para formularios y listados*/
.font-xss{
    font-size: .520rem;
}

font-xs{
    padding: .2rem .3rem;
    font-size: .720rem;
}

font-xl {
    font-size: 2.25rem;
    padding: .2rem 2.5rem;
}

.ellipsis{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis.a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}