{#
Map form render edit partial relationship
@var Map entity
@var FormView form
@var string relType partial
@var string relationship Partial relationship
#}
{{ form_start(form) }}
{% include '@admin/map/_form_partial/'~relationship~'.html.twig' %}

<div class="d-flex justify-content-between">
    {% include '@object/bttn/href_delete.html.twig' with {
        text: 'btn.deletethisform'|trans([], 'cavemessages'),
        href: path('admin_map_partial_delete', {
                'id': entity.id,
                'relationship': relationship,
                '_token':csrf_token('delete_partial_'~relationship~'_'~id)
                })
        }
    %}
{% include '@object/bttn/bttn_save.html.twig' with {'class': 'js-submit'}%}
</div>
{{ form_rest(form) }}
{{ form_end(form) }}
