<div class="sb-sidenav-menu-heading">Citas bibliográficas</div>
<a class="nav-link {{ getPage('section')=='citation'?'active'}}" href="{{ path('admin_citation_new')  }}"><div class="sb-nav-link-icon"></div><i class="fa  fa-feather"></i>&nbsp;{{ 'citation.menu.index'|trans([], 'cavepages') }}</a>