<a class="nav-link  {{ getPage('section') is same as 'system_parameter'?'active'}}" href="{{ path('admin_system_parameter_index')  }}">
    <i class="fa fa-cog"></i>&nbsp;{{ 'system_parameter.menu.index'|trans([], 'cavepages') }}
</a>
