{#
@see ./bttn_.html.twig
#}
{%- set attr= (attr ?? {})|merge({
    'type':   attr.type ?? type|default('submit'),
    'id': attr.id ?? id|default(''),
    'title': attr.title ?? title|default(''),
    'class':  'btn btn-primary btn-outline-default js-save'~(' '~attr.class ?? '')~(' '~class|default('')),
    'onClick':  attr.onClick ?? onClick|default(''),
}) -%}
<button {% for key, value in attr|filter(value => value != '') %} {{ key }}="{{ value|raw }}" {% endfor %}><i class="fa fa-save"></i> {{ text|default('btn.save'|trans({},'cavemessages'))|raw -}}</button>