{#
@see ./bttn_.html.twig
#}

{%- set icon= (icon ?? 'fa fa-eye') -%}
{%- set attr= (attr ?? {})|merge({
    'type':   attr.type ?? type|default('button'),
    'title': attr.title ?? title|default(''),
    'class':  'btn btn-icon js-icon'~(' btn-secondary '~class??''),
    'onClick':  attr.onClick ?? onClick|default(''),
}) -%}
<button {% for key, value in attr|filter(value => value != '') %} {{ key }}="{{ value|raw }}" {% endfor %}><i class="{{ icon }}"></i></button>